body{
  margin: 0;
  font-family: "Nunito";
}

.main > section h2{
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.main > section h3{
  font-size: 18px;
  line-height: 24.5px;
  font-weight: normal;
}

.main{
  /* border: 1px solid black; */
  width: 1200px;
  height: 2250px;
  margin: 0 auto;
  position: relative;
}

.main .section_inform{
  /* border: 1px solid black; */
  width: 895px;
  height: 264px;
  background-color: #C4B8AA;
  margin-bottom: 70px;
  position: relative;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.main .h2 .h2h2{
  /* border: 1px solid black; */
  box-sizing: border-box;
  padding: 1% 41%;
  color: #A9A3A9;
}

.main .div_form{
  /* border: 1px solid black; */
  display: inline-block;
  box-sizing: border-box;

  position: absolute;
  width: 638px;
  left: 100px;
}

.main .section_inform .table_inform h3{
  margin-bottom: 0px;
}

.main .section_transfer {
  border: 3px solid #A9A3A9;
  width: 895px;
  height: 264px;
  padding: 2%;
  float: right;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.main .section_transfer .table_transfer h3{
  margin-bottom: 0px;
}

.main .section_form{
  width: 793px;
  height: 1365px;
  padding: 2%;
  background-color: #F1F1F1;
  margin-top: 460px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.main .section_form .form_onlineapplication div{
  margin-top: 30px;
}

.main .section_form input[type=text]{
  border: none;
  border-bottom: 1.5px solid black;
  background-color: transparent;
  width: 350px;
  font-size: 20px;
}

.main .section_form input[type=text]:focus{
  outline-style: none;
  border-bottom: 1.5px solid black;
  font-size: 20px;
}

.main .section_form .button_and_submit{
  float: right;
}

.main .section_form .button_and_submit #button_back{
  background-color: #C4B8AA;
  border: 2px solid #F1F1F1;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: white;
  width: 82px;
  height: 49px;
}

.main .section_form .button_and_submit #button_submit{
  background-color: #C4B8AA;
  border: 2px solid #F1F1F1;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  letter-spacing: 0.1em;
  width: 82px;
  height: 49px;
  margin-left: 20px;
}

.main .section_form .button_and_submit a{
  text-decoration: none;
  color: white;
}

.footer{
  /* border: 1px solid black; */
  width: 1440px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  background-color: #A9A3A9;
}

.footer div.logo img{
  position: absolute;
  width: 216px;
  height: 61px;
  left: 120px;
  top: 48px;
}

.footer .info{
  position: absolute;
  left: 125px;
  top: 100px;
}

.footer .info p{
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0px;
  margin-top: 13px;
  letter-spacing: 0.15em;
}

.footer .time{
  position: absolute;
  left: 195px;
  top: 195px;
}

.footer .time p{
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0px;
  margin-top: 13px;
  letter-spacing: 0.15em;
}

.footer .notice{
  position: absolute;
  left: 560px;
  top: 94px;
  width: 278px;
  margin: 0;
}

.footer .notice li{
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0px;
  margin-top: 13px;
  letter-spacing: 0.15em;
}

.footer .map{
  width: 383px;
  height: 218.48px;

  position: absolute;
  left: 532px;
  top: 60px;
  left: 937px;
}

.footer .map p{
  margin: 0;
  float: right;
  letter-spacing: 0.15em;
}

.footer .p{
  width: 790px;
  height: 118px;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.15em;

  position: relative;
  right: 450px;
  top: 70px;
}
