body{
  margin: 0;
}

.header{
  /* border: 1px solid black; */
  width: 1440px;
  height: 313px;
  margin: 0 auto;
  position: relative;
}

.header .top #top1{
  position: absolute;
  width: 144px;
  height: 23px;
  left: 973px;
  top: 32px;

  font-size: 18px;
  line-height: 23px;
  color: #C8A063;
}

.header .top #top2{
  position: absolute;
  width: 80px;
  height: 20px;
  left: 1137px;
  top: 32px;

  font-size: 16px;
  line-height: 20px;
}

.header .icon #icon1{
  width: 25px;
  height: 25px;

  position: absolute;
  left: 1238px;
  top: 30px;
}

.header .icon #icon2{
  width: 25px;
  height: 25px;

  position: absolute;
  left: 1267px;
  top: 30px;
}

.header .icon #icon3{
  width: 25px;
  height: 25px;

  position: absolute;
  left: 1295px;
  top: 30px;
}

.header div.logo{
  position: absolute;
  width: 507px;
  height: 82px;
  top: 54px;
  background: #A9A3A9;
}

.header div.logo img{
  position: absolute;
  width: 216px;
  height: 61px;
  left: 277px;
  top: 10px;
}

.header .nav ul{
  /* border: 1px soslid black; */
  list-style: none;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  left: 500px;
  top: 38px;
}

.header .nav li{
  display: inline-block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 25px;
  vertical-align: middle;
  margin-left: 30px;
}

.header .nav > a{
  width: 80px;
  height: 80px;
}

.header .nav a{
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border-left: 25px;
  border-right: 5px;
  color: black;
}

.header .nav a:hover{
  background-color: #A9A3A9;
}

.header .nav #cafe{
  width: 82px;
  height: 81px;
}

.section_background_img{
  border: 1px solid black;
  width: 1440px;
  margin: 0 auto;
  /* min-height: 100vh;
  padding-top: 88px;
  padding-bottom: 88px;
  z-index: 1;
  position: relative;
  transition: 0.5s; */
}

/* .section_background_img .div_background_img{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
} */

/* .section_background_img .div_background_img img{
  height: 100vh;
  object-fit: cover;
  width: 100vw;
  object-position: top;
  vertical-align: middle;
} */

.section_background_img .space_connection{
  border: 1px solid transparent;
  width: 615px;
  height: 258px;
  background-color: #F1F1F1;
  position: relative;
  margin-left: 120px;
  /* margin-top: 60px; */
  margin-top: -500px;

  /* z-index: 2; */
}

.section_background_img .space_connection .talklabe0{
  border-top: 5px solid #A9A3A9;
  width: 300px;
  margin-top: 65px;
}

.section_background_img .space_connection .triangle{
  /* border: 100px solid red; */
  border-left: 0px solid;
  border-right: 30px solid #A9A3A9;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  width: 0px;
  height: 0px;
  position: absolute;
  left: 174px;
  top: 47px;
  margin-left: 120px;
}

.section_background_img .space_connection .talklabe1{
  border-top: 5px solid #A9A3A9;
  width: 20px;
  position: absolute;
  left: 205px;
  top: 43px;
  margin-left: 120px;
  transform: matrix(0.82, -0.58, 0.57, 0.82, 0, 0);
}

.section_background_img .space_connection .talklabe2{
  border-top: 5px solid #A9A3A9;
  width: 20px;
  position: absolute;
  left: 207px;
  top: 68px;
  margin-left: 120px;
}

.section_background_img .space_connection .talklabe3{
  border-top: 5px solid #A9A3A9;
  width: 20px;
  position: absolute;
  left: 205px;
  top: 92px;
  margin-left: 120px;
  transform: matrix(-0.82, -0.58, 0.57, -0.82, 0, 0);
}

.section_background_img .space_connection .h3-1{
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.15em;
  margin: 0;

  position: absolute;
  left: 73px;
  top: 30px;
}

.section_background_img .space_connection .h3-2{
  font-size: 16px;
  line-height: 23px;


  position: absolute;
  left: 354px;
  top: 43px;
}

.section_background_img .space_connection .h3-3{
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;

  position: absolute;
  left: 73px;
  top: 50px;
}

.section_background_img .h3-456{
  font-size: 20px;
  line-height: 25px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 73px;
}

/* .hide{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  background-image: url(./images/space/div_background_img.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: block;
} */

.section_background_img #button_toform{
  border: transparent;
  width: 183px;
  height: 42px;
  background-color: #A9A3A9;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.3em;
  margin-top: 30px;
  float: right;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
